.hero{
    margin: 0px 120px;
    /* margin-top: 80px; */
}
.hero-text{
    margin-top: 100px;
    color: white;
    font-size: 55px;
    font-weight: 500;
    /* line-height: 130px; */
}
.hero-explore {
    display: flex;
    align-items: center;
    gap: 12px;              /* reduced from 20px */
    width: fit-content;
    margin-top: 50px;       /* reduced spacing */
    margin-left: 55px;
    padding: 4px 6px;       /* reduced padding */
    padding-left: 18px;     /* adjusted left padding */
    border-radius: 40px;    /* scaled down */
    background-color: white;
    cursor: pointer;
    transform: scale(1.8); /* overall shrink */
}

.hero-explore p {
    font-size: 10px;        
}
.hero-explore img {
    width: 28px;            
    height: 28px;
}

.hero-dot-play{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot {
    width: 15px;
    height: 15px;
    background: #FFF;
    border-radius: 50%;
    cursor: pointer;
}

.hero-dot.orange {
    background: orangered;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
    transform: scale(1.0);
    /* margin-top: -30px; */
}
.hero-play{
    color: white;
    font-size: 19px;
}